<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">NO GAME NO LIFE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <img src="assets/desenhos/nogamenolife.png">
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>A internet está cheia de rumores sobre um jogador conhecido como "Branco". Na verdade, são dois irmãos viciados em games. Um dia, ao receber um e-mail estrnaho e vencer o jogo contido nele, eles são convocador por um garoto que se diz "Deus" a conhecer outro mundo. Lá, este "Deus" proibiu a guerra, e "tudo deve ser resolvido com jogos". Podem Sora e Shiro, dois irmão com problemas com a sociedade, tornarem-se os salvadores da humanidade nesse mundo paralelo?</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-grid>
    <h1>Episódios</h1>
    <ion-row class="eps">
      <ion-col size="4">
        EP 1
        <img src="assets/desenhos/nogamenolife.png">
      </ion-col>
      <ion-col size="4">
        EP 2
        <img src="assets/desenhos/nogamenolife.png">
      </ion-col>
      <ion-col size="4">
        EP 3
        <img src="assets/desenhos/nogamenolife.png">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
