<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">KAKEGURUI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <img src="assets/desenhos/kakegurui.jpg">
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Academia Privada Hyakkakou. Uma instituição para os privilegiados com um currículo muito peculiar. Não é uma poreaz atlética ou inteligência recebida por livros que o mantém a frente. É ao ler seu oponente. Quer melhor maneira de aprimorar essas habilidades do que com um currículo rigoroso de apostas? Aqui, os vencedores vivem como reis e os perdedores são colocados através do espremedor.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-grid>
    <h1>Episódios</h1>
    <ion-row class="eps">
      <ion-col size="4">
        EP 1
        <img src="assets/desenhos/kakegurui.jpg">
      </ion-col>
      <ion-col size="4">
        EP 2
        <img src="assets/desenhos/kakegurui.jpg">
      </ion-col>
      <ion-col size="4">
        EP 3
        <img src="assets/desenhos/kakegurui.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
