<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">STAR WARS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <img src="https://image.tmdb.org/t/p/w220_and_h330_face/lFx2i2pg1BoaD7grcpGDyHM1eML.jpg">
    <ion-button color="danger" size="normal">Assistir</ion-button> 
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>A queda de Darth Vader e do Império levou ao surgimento de uma nova força sombria: a Primeira Ordem. Eles procuram o jedi Luke Skywalker, desaparecido. A resistência tenta desesperadamente encontrá-lo antes para salvar a galáxia.</p>
      </div>
    </ion-item>
  </ion-card>
</ion-content>