<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full"> <!-- 1 -->
      <ion-thumbnail slot="start">
        <img src="assets/desenhos/nogamenolife.png">
      </ion-thumbnail>

      <ion-label>No game no life</ion-label>

      <div slot="end" class="c100 p100 small green">
      <span>100%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full"> <!-- 2 -->
      <ion-thumbnail slot="start">
        <img src="assets/desenhos/kakegurui.jpg">
      </ion-thumbnail>

      <ion-label>Kakegurui</ion-label>

      <div slot="end" class="c100 p100 small green">
      <span>100%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full"> <!-- 3 -->
      <ion-thumbnail slot="start">
        <img src="assets/desenhos/schooldays.jpg">
      </ion-thumbnail>

      <ion-label>School days</ion-label>

      <div slot="end" class="c100 p64 small orange">
      <span>64%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

    <ion-item lines="full"> <!-- 4 -->
      <ion-thumbnail slot="start">
        <img src="assets/desenhos/durarara.jpg">
      </ion-thumbnail>

      <ion-label>Durarara</ion-label>

      <div slot="end" class="c100 p40 small red">
      <span>40%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
