<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">WESTWORLD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/uRojJ77wDQdzzVvP1VDjnvCWiDb.jpg">
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Num parque temático, visitantes mergulham num universo onde qualquer desejo pode ser realizado por robôs cuidadosamente programados. Mas algumas destas máquinas desviam do padrão de programação com comportamentos anormais.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-grid>
    <h1>Primeria Temporada</h1>
    <ion-row class="eps">
      <ion-col size="4">
        EP 1
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/uRojJ77wDQdzzVvP1VDjnvCWiDb.jpg">
      </ion-col>
      <ion-col size="4">
        EP 2
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/uRojJ77wDQdzzVvP1VDjnvCWiDb.jpg">
      </ion-col>
      <ion-col size="4">
        EP 3
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/uRojJ77wDQdzzVvP1VDjnvCWiDb.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>