<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">GAME OF THRONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/y8hfzG91BngWMHVDgivG2y9sU7C.jpg">
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Em uma terra onde os verões podem durar vários anos e o inverno toda uma vida, sete nobres famílias lutam pelo controle da mítica terra de Westeros, dividida depois de uma guerra. Num cenário que lembra a Europa medieval, reis, rainhas, cavaleiros e renegados usam todos os meios possíveis em um jogo político pela disputa do Trono de Ferro, o símbolo do poder absoluto.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-grid>
    <h1>Primeria Temporada</h1>
    <ion-row class="eps">
      <ion-col size="4">
        EP 1
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/y8hfzG91BngWMHVDgivG2y9sU7C.jpg">
      </ion-col>
      <ion-col size="4">
        EP 2
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/y8hfzG91BngWMHVDgivG2y9sU7C.jpg">
      </ion-col>
      <ion-col size="4">
        EP 3
        <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/y8hfzG91BngWMHVDgivG2y9sU7C.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>